*,*:before,*:after{
	box-sizing: border-box;
	position: relative;
}

html, body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

body{
	background: #D3D3D3;
}

img{
	width: 100px;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: arial;
	width: 75%;
}
h1, h2, h3 {
	margin-top: 0;
}
section{
	padding: 14px;
	margin: 1%;
	background: #fff;
	box-shadow: 7px 7px 20px #888;
}
header img{
	width: 80%;
}
.sec1{
	width: 66%;
}
.sec1 h1{
	font-size: 20px;
}
.sec2{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.sec2 img p{
	width: 40%;
}

.sec2 div{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 5px;
}
.sec2 div p{
	text-align: center;
	font-size: 13px;
}
.sec3{
	width: 30%;

}
.sec3 img{
	width: 49%;
}
.sec3 p{
	font-size: 20px;
	font-family: "times new roman-italico";
}
.sec3 p:last-child{
	text-align: right;
	font-size: 15px;
	font-family: arial;
}
.sec4{
	width: 66%;
	display: flex;
	flex-flow: row wrap;
}
.sec4 h2{
	font-size: 17px;
}
.sec4 div{
	width: 48%;
	margin: 1%;
}
.sec4 div img {
	width: 80%;
	margin-left: 5%;
	margin-bottom: 10px;
}
.sec4 div h3{
	font-size: 15px;
	margin-bottom: 2px;
}
.sec4 div ul{
	padding-left: 0;
	margin: 0;
	list-style: none;
}
.sec4 div ul li{
	font-size: 13px;
}
.sec4 div ul li:before{
	content: "- ";
}

.sec5{
	width: 53%;
}
.sec5 h2{
	font-size: 17px;
}
.sec5 div{
	display: flex;
}
.sec6{
	width: 26%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.sec6 h3{
	font-size: 17px;
	width: 100%;
	margin-bottom: 1px;
}
.sec6 img{
	width: 85%;
}
.sec7{
	width: 15%;
}
.sec7 h2{
	font-size: 17px;
}
.sec7 div{
	display: flex;
	flex-direction: column;
}	
.sec7 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.sec7 ul li {
	padding-bottom: 12px;
}
.sec7 ul li:before{
	content: "• ";
}
@font-face{
	font-family: "times new roman-italico";
	src: url(fonts/timesi.ttf);
}