*,*:before,*:after{
	box-sizing: border-box;
	position: relative;
}

html, body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

body{
	background: #D3D3D3;
}

img{
	width: 100px;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 75%;
}
section{
	padding: 10px;
	margin: 5px;
	background: #fff;
}

.sec1{
	width: 60%;
}
.sec2{
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.sec2 img p{
	width: 40%;
}

.sec2 div{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 5px;
}
.sec2 div p{
	text-align: center;
	font-size: 15px;
}
.sec3{
	width: 35%;
	font-size: 17px;
}
.sec3 img{
	width: 49%;
}
.sec3 p:last-child{
	text-align: right;
}
.sec4{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}
.sec4 div{
	width: 45%;
}
.sec4 h2{
	font-size: 17px;
}

.sec4 div img{
	width: 60%;
	position: relative;
	top: 0;
	left: 20px;
}
.sec4 div ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.sec4 div ul li:before{
	content: "- ";
}
.sec4 h3{
	font-size: 15px;
}
.sec5{
	width: 53%;
}
.sec5 div{
	display: flex;
}
.sec6{
	width: 26%;
	display: flex;
	flex-direction: column;
}
.sec6 img{
	width: 85%;
}
.sec7{
	width: 15%;
}
.sec7 div{
	display: flex;
	flex-direction: column;
}
.sec7 ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.sec7 ul li: before{
	content: ". ";
}